@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'WalkwayBoldRegular';
    src: url('../fonts/walkway_bold-webfont.eot');
    src: url('../fonts/walkway_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/walkway_bold-webfont.woff') format('woff'),
         url('../fonts/walkway_bold-webfont.ttf') format('truetype'),
         url('../fonts/walkway_bold-webfont.svg#WalkwayBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{font:inherit normal Arial, Helvetica, sans-serif}

.label{float: left; width:73px; margin-top:25px;}
.titol{background:url(../images/logo.png) no-repeat 0 0; color: #666; font-family: Arial, Helvetica, sans-serif;font-size:45px;font-weight:lighter; position: relative; left: 134px; width:52%; padding: 83px 0 0 345px; margin-bottom:30px;}
.titol_detalle{color: #666; font-family: Arial, Helvetica, sans-serif;font-size:25px;font-weight:lighter; position: relative; left: 0; padding: 10px 0 0 20px;}
.subtitol_detalle{color: #999; font-family: Arial, Helvetica, sans-serif;font-size:18px;font-weight:lighter; position: relative; left: 0; padding: 2px 20px;}


a{color:#e38f00;}
.contiene {width: 100%;margin: 50px auto 15px;/*border:1px solid #456f9a;*/}

.bar-b {

font-family: Arial;
font-size:0.8em;
border:1px solid #456f9a;
background:#5e87b0;
color:#fff;
text-shadow:0 1px 1px #000000;
background-image:-webkit-gradient(linear,left top,left bottom,from(#7d7d7d),to(#3d3d3d));
background-image:-webkit-linear-gradient(#7d7d7d,#3d3d3d);
background-image:-moz-linear-gradient(#7d7d7d,#3d3d3d);
background-image:-ms-linear-gradient(#7d7d7d,#3d3d3d);
background-image:-o-linear-gradient(#7d7d7d,#3d3d3d);
background-image:linear-gradient(#7d7d7d,#3d3d3d);
/*box-shadow: 0px 0px 10px #666;*/
height:25px;
}



.bar-c {

font-family: Arial;
font-size:0.8em;
border:1px solid #fee2b3;
background:#d9decf;
color:#000;
/*text-shadow:0 1px 1px #000000;*/
/*background-image:-webkit-gradient(linear,left top,left bottom,from(#cbcbcb),to(#3d3d3d));
background-image:-webkit-linear-gradient(#cbcbcb,#3d3d3d);
background-image:-moz-linear-gradient(#cbcbcb,#3d3d3d);
background-image:-ms-linear-gradient(#cbcbcb,#3d3d3d);
background-image:-o-linear-gradient(#cbcbcb,#3d3d3d);
background-image:linear-gradient(#cbcbcb,#3d3d3d);*/
/*box-shadow: 0px 0px 10px #666;*/
margin: 5px;
height:24px;
}


.bar-d {

font-family: Arial;
font-size:0.8em;
border:1px solid #456f9a;
background:#e8f0d6;
color:#000;
/*text-shadow:0 1px 1px #000000;*/
/*background-image:-webkit-gradient(linear,left top,left bottom,from(#cbcbcb),to(#3d3d3d));
background-image:-webkit-linear-gradient(#cbcbcb,#3d3d3d);
background-image:-moz-linear-gradient(#cbcbcb,#3d3d3d);
background-image:-ms-linear-gradient(#cbcbcb,#3d3d3d);
background-image:-o-linear-gradient(#cbcbcb,#3d3d3d);
background-image:linear-gradient(#cbcbcb,#3d3d3d);*/
/*box-shadow: 0px 0px 10px #666;*/
margin: 5px;

}

#taula .td {border-bottom: 1px solid #fff;text-align: center; border-left: 1px solid #999; width:150px;}
/*#taula td:hover{box-shadow: 0px 0px 3px #666;}*/
#taula tr:hover{background-color:#fdfce3; cursor:pointer;}



 .bar-a{color:#000;font-family: WalkwayBoldRegular;font-size:1.0em;padding:15px;width:800px;margin-left:5px; display:inline;}
 .cliente{ font-family:inherit; font-size:1.3em;}
 .captados{ font-family:inherit; font-size:1.7em;}

.button {
cursor:pointer;
font-family: arial;
font-size:1em;
border:1px solid #456f9a;
background:#5e87b0;
text-shadow:0 1px 1px #3e6790;
background-image:-webkit-gradient(linear,left top,left bottom,from(#6facd5),to(#497bae));
background-image:-webkit-linear-gradient(#6facd5,#497bae);
background-image:-moz-linear-gradient(#6facd5,#497bae);
background-image:-ms-linear-gradient(#6facd5,#497bae);
background-image:-o-linear-gradient(#6facd5,#497bae);
background-image:linear-gradient(#6facd5,#497bae);
box-shadow: 0px 0px 5px #666;
/*border-radius:9px;*/
width:100px;
margin:5px;
}
.button:hover {
background-image:-webkit-gradient(linear,left top,left bottom,from(#497bae),to(#6facd5));
background-image:-webkit-linear-gradient(#497bae,#6facd5);
background-image:-moz-linear-gradient(#497bae,#6facd5);
background-image:-ms-linear-gradient(#497bae,#6facd5);
background-image:-o-linear-gradient(#497bae,#6facd5);
background-image:linear-gradient(#497bae,#6facd5);
}
.inner{border-top:1px solid #fff;border-color:rgba(255,255,255,.3);padding: 5px; /*border-radius:9px;*/ text-align:center;}
.button a{color:#fff; text-decoration:none;}

#taula img{ margin:4px 0 2px 0;}

.usuari{ 
background-image:-webkit-gradient(linear,left top,left bottom,from(#df7700),to(#fea000));
background-image:-webkit-linear-gradient(#df7700,#fea000);
background-image:-moz-linear-gradient(#df7700,#fea000);
background-image:-ms-linear-gradient(#df7700,#fea000);
background-image:-o-linear-gradient(#df7700,#fea000);
background-image:linear-gradient(#df7700,#fea000);
background-color:#df7700;
color: #fff;
height: 28px;
margin: auto;
padding: 0;
position: fixed;
width: 100%; 
font:14px lighter Arial, Helvetica, sans-serif; 
text-shadow: 0px 1px 0px #a16500;filter: dropshadow(color=#a16500, offx=0, offy=1);
box-shadow: 0px 0px 10px #666;
z-index:2000; overflow:visible;
 }

.usuari a:hover{text-decoration:underline !important;}

/*************************menu alta ca,pan~a,client,user....*/

#menu{position:absolute;top:-13px; left: 29px; background-color:#FFFFFF; border-radius: 8px; border:1px solid #fff; box-shadow: 0 0 5px #666; width:200px; font-size:16px; font-family: Arial, Helvetica, sans-serif; color:#999999; z-index:2000;}

#menu ul {list-style-type: none; margin:0; padding:10px 20px; line-height:27px;}
#menu li {border-bottom:1px solid #D9D9D9; font-weight:normal;}
#menu li a{ text-decoration:none; color:#999;}
#menu li a:hover{ color:#f49a00;}
/*************************menu alta ca,pan~a,client,user....*/

.llarc {
	  border: 1px solid #999999;
    border-radius: 3px;
    box-shadow: 0 0 2px #999999;
    height: 25px;
    padding: 5px;
    width: 500px;
	margin:5px 20px;
	font:16px lighter Arial, Helvetica, sans-serif;
	color:#999999;
}

.cerca {
	border: 1px solid #999999;
    border-radius: 3px;
    /*box-shadow: 0 0 2px #999999;*/
    height: 25px;
    padding: 5px;
	margin:5px 20px;
	font:14px lighter Arial, Helvetica, sans-serif;
	color:#999999;
}




.fecha{  border: 1px solid #999999;
    border-radius: 3px;
    box-shadow: 0 0 2px #999999;
	margin:5px 20px;
	color:#999999;
	padding:3px;
}

fieldset{margin:0 auto; width:800px; border:1px solid #999; position:relative;padding:25px; box-shadow:0 0 5px #666;font:14px lighter Arial, Helvetica, sans-serif;}

/*#result{ color:#fff;padding:15px; background:url(../images/ok_edit.png) 45% 50% no-repeat #000; position:fixed; width:100%; height:100%; top: 0; left:0; text-align:center;
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;}*/

/*#result{left: -201px; padding: 21px; position: relative; top: 96px; width: 420px; margin:0 0 85px 0; color:#69BA00;}*/

/*#result{border: 15px solid #A3E998; background-color:#FFFFFF;color: #999999;font: 16px lighter Arial,Helvetica,sans-serif;left: 40%; margin-left: -200px;margin-top: -70px;padding: 50px 30px;position: fixed;top: 50%;}*/

#result{background-color:#fff;color:#666;font: 20px lighter Arial,Helvetica,sans-serif;left:0; text-align:center;padding-top: 300px;position: fixed;top: 0; width:100%; height:100%; opacity: .8; -moz-opacity: .8;filter:alpha(opacity=80);}

