@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	color: #000;
}





/* ~~no se asigna una anchura al encabezado. Se extenderá por toda la anchura del diseño. Contiene un marcador de posición de imagen que debe sustituirse por su propio logotipo vinculado~~ */
.header {
	background-color: #FFFFFF;
	height: 70px;
	position: static;
}

/* ~~ Selectores de elemento/etiqueta ~~ */
ul, ol, dl { /* Debido a las diferencias existentes entre los navegadores, es recomendable no añadir relleno ni márgenes en las listas. Para lograr coherencia, puede especificar las cantidades deseadas aquí o en los elementos de lista (LI, DT, DD) que contienen. Recuerde que lo que haga aquí se aplicará en cascada en la lista .nav, a no ser que escriba un selector más específico. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* la eliminación del margen superior resuelve un problema que origina que los márgenes escapen de la etiqueta div contenedora. El margen inferior restante lo mantendrá separado de los elementos de que le sigan. */
	padding-right: 15px;
	padding-left: 15px; /* la adición de relleno a los lados del elemento dentro de las divs, en lugar de en las divs propiamente dichas, elimina todas las matemáticas de modelo de cuadro. Una div anidada con relleno lateral también puede usarse como método alternativo. */
	text-decoration: none;
}

a img { /* este selector elimina el borde azul predeterminado que se muestra en algunos navegadores alrededor de una imagen cuando está rodeada por un vínculo */
	border: none;
}

/* ~~ La aplicación de estilo a los vínculos del sitio debe permanecer en este orden (incluido el grupo de selectores que crea el efecto hover -paso por encima-). ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* a no ser que aplique estilos a los vínculos para que tengan un aspecto muy exclusivo, es recomendable proporcionar subrayados para facilitar una identificación visual rápida */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* este grupo de selectores proporcionará a un usuario que navegue mediante el teclado la misma experiencia de hover (paso por encima) que experimenta un usuario que emplea un ratón. */
	text-decoration: none;
}

/* ~~ este contenedor rodea a todas las demás divs, lo que les asigna su anchura basada en porcentaje ~~ */
.container {
	width: 960px;
	max-width: 1260px;/* puede que sea conveniente una anchura máxima (max-width) para evitar que este diseño sea demasiado ancho en un monitor grande. Esto mantiene una longitud de línea más legible. IE6 no respeta esta declaración. */
	min-width: 780px;/* puede que sea conveniente una anchura mínima (min-width) para evitar que este diseño sea demasiado estrecho. Esto permite que la longitud de línea sea más legible en las columnas laterales. IE6 no respeta esta declaración. */
	background-color: #FFF; /* el valor automático de los lados, unido a la anchura, centra el diseño. No es necesario si establece la anchura de .container en el 100%. */
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	height: 920px;
	margin-bottom: 5px;
}
.container h2 {
	color: #008080;
	font-family: Verdana, Geneva, sans-serif;
	font-size: xx-large;
	margin-top: 20px;
}


#imagen {
	background-color: #03F;
	height: 50px;
	width: 120px;
	z-index: 2;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-image: url(fotos/rsa.jpg);
}


.container .lateral {
	float: left;
	height: 545px;
	width: 265px;
	border: 5px solid #008080;
	margin-top: 20px;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline;
}
.container .lateral h1 {
	color: #008080;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}
.container .lateral .requisitos {
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
}
.container .lateral .tiempo {
	background-color: #008080;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	width: 200px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
.container .lateral .tiempo a {
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF;
	text-decoration: none;
}
.container .lateral .altres {
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	width: 250px;
}
.container .lateral .altres a {
	font-family: Verdana, Geneva, sans-serif;
	color: #999;
	text-decoration: none;
	float: none;
	margin-bottom: 10px;
	display: block;
}
.container .lateral .altres h3 {
	text-align: center;
	color: #000;
	margin-top: 20px;
	margin-right: 20px;
}
.container .lateral .altres h3 a {
	color: #000;
}
.container .lateral .requisitos img {
	float: left;
	margin-right: 10px;
	margin-top: -5px;
}








.grup .tipo .logo {
	height: 80px;
	width: 120px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -5px;
}
.grup .tipo .logo1 {
	margin-top: 15px;
	margin-left: 15px;
}
.grup .tipo .logo2 {
	margin-top: 15px;
	margin-left: 15px;
}
.grup .tipo .logo3 {
	margin-top: 13px;
	margin-left: 13px;
}
.grup .tipo .logo4 {
	margin-top: 13px;
	margin-left: 15px;
}
.header .centrar .titulo {
	float: left;
	height: 50px;
	width: 300px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: xx-large;
	color: #999;
	margin-top: 15px;
}

.container .content .block0 #imagen1 {
	margin-left: 60px;
}
.header .centrar .titulo h2 {
	font-family: Verdana, Geneva, sans-serif;
	color: #008080;
	font-size: x-small;
	margin-bottom: -10px;
}


.container .content .block0 #imagen2 {
	margin-left: 38px;
}
.container .content .block0 #imagen3 {
	margin-left: 20px;
}
.container .content .block0 #imagen4 {
	margin-top: 10px;
	margin-left: 70px;
	margin-bottom: 10px;
}

.container .content .block0 #imagen5 {
	margin-top: 10px;
	margin-left: 60px;
}










.block0 p {
	font-family: Verdana, Geneva, sans-serif;
	color: #999;
	margin: 0px;
}


.container .content .block0 {
	height: 170px;
	width: 200px;
	float: left;
	border: 1px dashed #999;
	position: relative;
	z-index: 1;
}


.container .content .espai {
	height: 300px;
	width: 40px;
	float: left;
}

.header .centrar .menu {
	float: right;
}
.header .centrar {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: static;
}


.header .centrar .menu .opciones1 li a {
	color: #666;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
}

.linea {
	background-color: #008080;
	height: 5px;
	width: 100%;
	position: static;
}
.header .centrar .menu .opciones1 li {
	display: block;
	float: left;
	margin-left: 20px;
	list-style-type: none;
	text-decoration: none;
}
.header .centrar .register a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: medium;
	color: #999;
	text-decoration: none;
	float: right;
	margin-right: 20px;
}
.header .centrar .register .nuevo {
	background-color: #008080;
	float: right;
	height: 30px;
	width: 130px;
	margin-top: 12px;
	text-align: center;
	display: block;
}
.header .centrar .register .nuevo a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: medium;
	color: #FFF;
	text-decoration: none;
	float: right;
	margin-right: 20px;
	margin-top: 3px;
	font-weight: 300;
}
.header .centrar .register {
	height: 45px;
	width: 100%;
	position: static;
}
.header .centrar .register .nombre {
	font-family: Verdana, Geneva, sans-serif;
	font-size: medium;
	color: #666;
	text-decoration: none;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}
.header .centrar .register .bienvenido a {
	margin-top: 10px;
}


.header .centrar .register .iniciar {
	font-family: Verdana, Geneva, sans-serif;
	color: #999;
	font-size: medium;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}
.container .subir {
	background-color: #CCC;
	height: 120px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #333;
	border-radius: 3px 3px 3px 3px;
}


.container .subir #voto h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	color: #FFF;
	text-decoration: none;
	background-color: #008080;
}
.container .subir p #boton {
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	font-weight: 200;
	color: #FFF;
	text-decoration: none;
	background-color: #008080;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: -3px;
}

.container .subir #cuenta {
	float: left;
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: -7px;
	font-weight: 300;
}
.container .subir #subir {
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	color: #008080;
	margin-top: 10px;
	float: none;
	margin-left: 5px;
}



.container .subir p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	color: #008080;
	float: left;
	margin-top: 10px;
}
.container .subir #final {
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	font-weight: 800;
	color: #FFF;
	margin-top: 10px;
	margin-left: -25px;
}



.container .subir input {
	margin-left: 15px;

}
.container .subir h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: medium;
	color: #008080;
	margin-top: 10px;
}
.container .subir #votar {
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	font-weight: 300;
	color: #FFF;
	text-decoration: none;
	background-color: #008080;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: -15px;
	float: right;
	margin-right: 370px;
}



.container .grupo {
	background-color: #FFF;
	height: 700px;
	width: 100%;
}
.container .grupo .exif table tr td {
	font-family: Verdana, Geneva, sans-serif;
	color: #008080;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: large;
	padding-left: 5px;
}

.container .grupo .exif table tr .tipo {
	background-color: #CCC;
}
.container .grupo .exif table tr .dato {
	color: #333;
}



.container .grupo .foto {
	background-color: #FFF;
	float: left;
	height: 530px;
	width: 48%;
	background-position: center center;
	overflow: hidden;
	border: thin double #666;
	margin-top: 150px;
	text-align: center;
	vertical-align: middle;
}
.container .grupo .foto img {
	height: 90%;
	width: 90%;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.container .comentario {
	height: 800px;
	width: 100%;
	border-top-width: thin;
	border-top-style: dashed;
	border-top-color: #999;
	margin-top: 10px;
}



.container .grupo .exif {
	background-color: #FFF;
	float: right;
	height: 700px;
	width: 48%;
}
.container .grupo .exif .mapa {
	height: 450px;
	width: 100%;
	margin-top: 10px;
}







.menu {
	background-color: #FFF;
}
.menu .opciones li {
	display: block;
	float: left;
	list-style-type: none;
	margin-top: 10px;
}
.menu .opciones li a:hover {
	color: #008080;
}
.container .content .linea1 {
	background-color: #008080;
	height: 5px;
	width: 660px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.container .content h1 {
	color: #008080;
	margin-bottom: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
}

.container .content .info {
	height: 122px;
	width: 122px;
	border: 1px solid #999;
	float: left;
	margin-left: 10px;
	z-index: 2;
	position: relative;
	overflow: hidden;
}
.container .content .info img {
	position: relative;
	z-index: 2;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.container .content .info img:hover {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 0.3;
}

.container .content .info .mas {
	background-color: #008080;
	height: 122px;
	width: 122px;
	margin-top: -122px;
	z-index: 1;
	position: relative;
	opacity: 0.8;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	text-align: center;
}
.container .content .info .mas h1 {
	font-size: small;
	color: #FFF;
	margin-top: 0px;
	margin-bottom: 0px;
}

.container .content .info .mas p {
	color: #FFF;
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 0px;
}


.footer {
	background-color: #FFF;
	margin-bottom: 150px;
}
.multimedia {
	background-color: #FFF;
	height: 45px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}
.grup {
	background-color: #FFF;
	height: 90px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.multimedia .titulo {
	height: 30px;
	width: 960px;
	margin-top: 0px;
	float: left;
}

.multimedia h3 {
	color: #066;
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}
.linea2 {
	background-color: #008080;
	height: 5px;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}


.container .linea1 {
	background-color: #008080;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	height: 5px;
}



.menu .opciones li a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	color: #999;
	text-decoration: none;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999;
	padding-left: 15px;
	-webkit-transition: all;
	-moz-transition: all;
	-ms-transition: all;
	-o-transition: all;
	transition: all;
}
.centrar {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.grup .tipo {
	background-color: #FFF;
	float: left;
	height: 70px;
	width: 150px;
	margin-top: 10px;
	border: 1px solid #999;
	margin-left: 30px;
	overflow: hidden;
}












/* ~~ Esta es la información de diseño. ~~ 

1) El relleno sólo se sitúa en la parte superior y/o inferior de la div. Los elementos situados dentro de esta div tienen relleno a los lados. Esto le ahorra las "matemáticas de modelo de cuadro". Recuerde que si añade relleno o borde lateral a la div propiamente dicha, éste se añadirá a la anchura que defina para crear la anchura *total*. También puede optar por eliminar el relleno del elemento en la div y colocar una segunda div dentro de ésta sin anchura y el relleno necesario para el diseño deseado.

*/
.container .content {
	float: left;
	width: 680px;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
	height: 580px;
}

/* ~~ Este selector agrupado da espacio a las listas del área de .content ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* este relleno reproduce en espejo el relleno derecho de la regla de encabezados y de párrafo incluida más arriba. El relleno se ha colocado en la parte inferior para que el espacio existente entre otros elementos de la lista y a la izquierda cree la sangría. Estos pueden ajustarse como se d
.footer {
	padding: 10px 0;
	background-color: #FFFFFF;
}





/* ~~ clases float/clear varias ~~ */
.fltrt {  /* esta clase puede utilizarse para que un elemento flote en la parte derecha de la página. El elemento flotante debe preceder al elemento junto al que debe aparecer en la página. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* esta clase puede utilizarse para que un elemento flote en la parte izquierda de la página. El elemento flotante debe preceder al elemento junto al que debe aparecer en la página. */
	float: left;
	margin-right: 8px;
}

.clearfloat { /* esta clase puede situarse en una <br /> o div vacía como elemento final tras la última div flotante (dentro de #container) si #footer se elimina o se saca fuera de #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
